.header {
    padding: 10px 0;
    background-color: $headerBgColor;
    color: $headerFontColor;
    box-shadow: $shadow;

    &.is-sticky {

    }

    &.is-autohide {

    }

    &.is-transparent {

    }

    &.is-solid {

    }

    &.is-fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 41;
        transition: .2s transform, .2s visibility, .3s background-color;
        will-change: transform, visibility, background-color;

        &.onscroll-hide {
            visibility: hidden;
            transform: translateY(-100%);
        }

        &.onscroll-show {
            visibility: visible;
            transform: translateY(0);
        }
    }
}

@media #{$desktop-max} {
    .header {
        display: none !important;
    }
}
