  $mobile-max: "(max-width: 574px)"; //xs
    $tablet-max: "(max-width: 767px)"; //sm
   $laptop-max: "(max-width: 1023px)"; //md
$desktop-max: "(max-width: 1199px)"; //lg - стили будут применены, если область просмотра не больше 1199 пикселей
  $screen-max: "(max-width: 1365px)"; //xl

@media #{$mobile-max} {} //xs > 576
@media #{$tablet-max} {} //sm - 769
@media #{$laptop-max} {} //md - 1025
@media #{$desktop-max} {} //lg - 1201
@media #{$screen-max} {} //xl 1367


$mobile-min: "(min-width: 575px)"; //xs 
$tablet-min: "(min-width: 768px)"; //sm
$laptop-min: "(min-width: 1024px)"; //md - стили будут применены, если область просмотра более 1024
$desktop-min: "(min-width: 1200px)"; //lg
$screen-min: "(min-width: 1366px)"; //xl

@media #{$mobile-min} {} //xs 575
@media #{$tablet-min} {} //sm - 768
@media #{$laptop-min} {} //md - 1024
@media #{$desktop-min} {} //lg - 1200
@media #{$screen-min} {} //xl 1366 